body {
    background-color: #292929;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: sans-serif;
}
